.cabecalho {
    display: flex;
    align-items: center;
    padding: 1em 6em;
    justify-content: space-between;
    border-bottom: solid 2px orange;  
    width: 100%;
    flex-wrap: wrap; 
}

.cabecalho__titulo {
    font-family: 'Special Elite', cursive;
    font-size: 2.4em;
    color: darkorange;
}

.cabecalho__img{
    height: 80px;
    width: 150px;
}

.cabecalho__pesquisa {
    border-radius: 20px;
    border: solid 1px darkorange;
    width: 393px;
    height: 40px;
    background-color: transparent;
    background-image: url(/assets/img/icones/iconlupa.svg);
    background-repeat: no-repeat;
    background-position: 98% 50%;
    padding-left: 5px;
    font-size: 1.025em;
    color: #5c5353;
}

.cabecalho__icones__carrinho-de-compra, 
.cabecalho__icones__favorito  {
    width: 40px;
}

/* Responsivo */

@media screen and (max-width: 992px) {
    .cabecalho {
        padding: 1em 2em;
    }
    
    .cabecalho__pesquisa {
        width: 40%;
    }
}

@media screen and (max-width: 728px) {
    .cabecalho__pesquisa {
        width: 100%;
        order: 4;
        margin-top: 10px;
        height: 30px;
    }
}

@media screen and (max-width: 576px) {
    .cabecalho {
        padding: 0.5em 2em;
    }
    .cabecalho__titulo {
        font-family: 'Special Elite', cursive;
        font-size: 1.5em;
        color: darkorange;
    }

    .cabecalho__icones__carrinho-de-compra, 
    .cabecalho__icones__favorito  {
        width: 30px;
    }
}

@media screen and (max-width: 320px) {
    .cabecalho {
        padding: 0.5em 1em;
    }

    .cabecalho__titulo {
        font-size: 1.4em;
    }

    .cabecalho__pesquisa {
        margin-top: 5px;
        height: 25px;
    }

    .cabecalho__icones__carrinho-de-compra, 
    .cabecalho__icones__favorito  {
        width: 25px;
    }
 
}

